<h1 class="text-center">Bienvenido</h1>
<h2 class="text-center">Aqui puedes encontrar todo tipo de gifs de una forma rapida y sencilla</h2>

<div class="grid flex justify-content-center m-5">
    <div class="col-3 border-round  shadow-3 m-2">
        <p-image [src]="alien1.images.downsized_medium.url" alt="Image" imageClass="w-12 h-25rem"></p-image>
    </div>
    <div class="col-3 border-round  shadow-3 m-2">
        <p-image [src]="alien1.images.downsized_medium.url" alt="Image" imageClass="w-12 h-25rem"></p-image>
    </div>
    <div class="col-3 border-round  shadow-3 m-2">
        <p-image [src]="alien1.images.downsized_medium.url" alt="Image" imageClass="w-12 h-25rem"></p-image>
    </div>  
</div>

<h2 class="text-center">Tambien si lo deseas puedes echar un vistazo a nuestra coleccion de Memes</h2>

<div class="grid flex justify-content-center m-5">
    <div class="col-3 border-round  shadow-3 m-2">
        <p-image [src]="meme1!.url" alt="Image" imageClass="w-12 h-25rem"></p-image>
    </div> 
</div>
