<div class="d-flex justify-content-center m-3">
    <span>
        <input type="text" pInputText placeholder="Search" #input (change)="buscar(input.value)"/>
    </span>
</div>

<div class="container-fluid">
    <div class="row mx-5">
        <div class="col-sm-12 col-md-6 col-xl-3" *ngFor="let item of gifs">
            <div class="card">
                <img [src]="item.images.downsized_medium.url" class="imgGif" alt="gifImg">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
