<div class="grid-container">
    <div class="flex justify-content-center">
        <p-image src="../assets/img/dogue.png" alt="Image" imageClass="w-12 h-10rem"></p-image>
        <h1 class="flex align-items-center text-7xl">App Gifs</h1>
        <p-image src="../assets/img/dogue.png" alt="Image" imageClass="w-12 h-10rem" class="rota-horizontal"></p-image>
    </div>

    <div class="flex justify-content-center">
        <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
    </div>
</div>