
<div class="d-flex justify-content-center">
    <img class="headerImg" src="../assets/img/dogue.png" alt="dogueImg">
    <h1 class="d-flex align-items-center">AppGif</h1>
    <img class="headerImg rota-horizontal" src="../assets/img/dogue.png" alt="dogueImg">
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"   >
            <span class="navbar-toggler-icon"></span>
        </button>  
        <div class="collapse navbar-collapse justify-content-center" id="navbar">
            <div class="navbar-nav">
                <button type="button" class="btn btn-outline-secondary m-1" routerLink="home" routerLinkActive="active">Home</button>
                <button type="button" class="btn btn-outline-secondary m-1" routerLink="trending" routerLinkActive="active">Trending</button>
                <button type="button" class="btn btn-outline-secondary m-1" routerLink="search/hi" routerLinkActive="active">Search Gif</button>
                <button type="button" class="btn btn-outline-secondary m-1" routerLink="memes" routerLinkActive="active">Memes</button>
            </div>
        </div>
    </div>
  </nav>